/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import './variables.less';

@brand-color: #61dafb;
@headerbg: rgba(17,17,17,.8);

.Header {
  //background: #373277;
  color: #fff;
  z-index:2;
  background-color:@headerbg;
  font-family:'quicksand';
  height:50px;
  display:inline-block;
  float:left;
  width:100%;

  a:visited{
    color: #fff;
  }

  &-container {
    margin: 0 auto;
    //padding: 20px 0;
    max-width: @max-content-width;
    width:100%;
    height:100%;
  }


  &-brand {
    color: lighten(@brand-color, 10%);
    text-decoration: none;
    font-size: 1.75em; // ~28px
  }

  &-brandImg {

  }

  &-brandTxt {
    margin-left: 10px;
  }

  .logo{
    text-decoration:none;
    float:left;
    text-align:center;
    font-size:2.4em;
    line-height:70px;
    cursor: pointer;


    .yellow-letters{
      color:rgb(255, 213, 0);
      font-weight:bold;
    }
  }
  .nav-btn{
      display:none;
      background-image:url("/src/images/icons/menu.svg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      width:50px; 
      height:100%;
      cursor:pointer;
    }
  .nav-btn:hover{
    background-color:lighten(@headerbg, 50%);
  }
  &-nav {
    float: right;
    display:inline-block;
    //width:100%;
    height:50px;
    line-height:70px;
    
    overflow:hidden;
    transition: height .5s;

    .btn{
      color:rgb(240,240,240);
      display:inline-block;
      min-width:50px;
      min-height:50px;
      height:100%;
      padding:5 25px;
      text-decoration:none;
    }
    .btn:hover{
      background-color:lighten(@headerbg, 50%);

    }
  }

  &-banner {
    text-align: center;
  }

  &-bannerTitle {
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
  }

  &-bannerDesc {
    padding: 0;
    color: rgba(255, 255, 255, .5);
    font-size: 1.25em;
    margin: 0;
  }
  //media query for small phones
    @media (max-width: @screen-sm-min){
      &{
        height:auto;

        &-container{
          height:auto;
        }
      }
      .logo{
        font-size:1.5em;
        height:60px;
        padding-left:20px;
      }
      .nav-btn{
        display:inline-block;
        float:right;
        height:60px;
      }
      &-nav{
        height:0;
        pointer-events:none;
        width:100%;
        position:relative;
        background-color:@headerbg;

        .btn{
          width:100%;
          height:60px;
          text-align:center;
          font-size:1.2em;
          line-height:50px
        }

      }
      .active{
        height:240px;
        pointer-events:auto;
      }
      .disabled{
        height:0;
      }
    }
}
