/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
.Header {
  color: #fff;
  z-index: 2;
  background-color: rgba(17, 17, 17, 0.8);
  font-family: 'quicksand';
  height: 50px;
  display: inline-block;
  float: left;
  width: 100%;
}
.Header a:visited {
  color: #fff;
}
.Header-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.Header-brand {
  color: #93e6fc;
  text-decoration: none;
  font-size: 1.75em;
}
.Header-brandTxt {
  margin-left: 10px;
}
.Header .logo {
  text-decoration: none;
  float: left;
  text-align: center;
  font-size: 2.4em;
  line-height: 70px;
  cursor: pointer;
  color: white;
}
.Header .logo .yellow-letters {
  color: #ffd500;
  font-weight: bold;
}
.Header .nav-btn {
  display: none;
  background-image: url("/src/images/icons/menu.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.Header .nav-btn:hover {
  background-color: rgba(145, 145, 145, 0.8);
}
.Header-nav {
  float: right;
  display: inline-block;
  height: 50px;
  line-height: 70px;
  overflow: hidden;
  transition: height .5s;
}
.Header-nav .btn {
  color: #f0f0f0;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  height: 100%;
  padding: 5 25px;
  text-decoration: none;
}
.Header-nav .btn:hover {
  background-color: rgba(145, 145, 145, 0.8);
}
.Header-banner {
  text-align: center;
}
.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}
.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
@media (max-width: 768px) {
  .Header {
    height: auto;
  }
  .Header-container {
    height: auto;
  }
  .Header .logo {
    font-size: 1.5em;
    height: 60px;
    padding-left: 20px;
  }
  .Header .nav-btn {
    display: inline-block;
    float: right;
    height: 60px;
  }
  .Header-nav {
    height: 0;
    pointer-events: none;
    width: 100%;
    position: relative;
    background-color: rgba(17, 17, 17, 0.8);
  }
  .Header-nav .btn {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 1.2em;
    line-height: 50px;
  }
  .Header .active {
    height: 240px;
    pointer-events: auto;
  }
  .Header .disabled {
    height: 0;
  }
}
