/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
.ContactPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1000px;
}
